<h1>マイページ</h1>
<h3>登録情報
<%= link_to "編集する", edit_public_end_user_path, class: "btn btn-outline-primary btn-lg" %>
<%= link_to "パスワードを変更する", edit_end_user_password_path, class: "btn btn-outline-primary btn-lg" %>
</h3>

<table class="table table-striped table-bordered" style="border: solid;">
  <tbody>
    <colgroup class="bg-light" style="border-right: double;"></colgroup>
    <colgroup></colgroup>
    <tr>
      <th>氏名</th>
      <td><%= @user.family_name %><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>カナ</th>
      <td><%= @user.family_name_kana %><%= @user.first_name_kana %></td>
    </tr>
    <tr style="border-top: solid;">
      <th>郵便番号</th>
      <td>〒<%= @user.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @user.address %></td>
    </tr>
    <tr style="border-top: solid;">
      <th>電話番号</th>
      <td><%= @user.phone %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>

<h3>配送先
<%= link_to "一覧を見る", "#", class: "btn btn-outline-primary btn-lg" %></h3>
<h3>注文履歴
<%= link_to "一覧を見る", "#", class: "btn btn-outline-primary btn-lg" %></h3>
