<div class="container-fluid">
  <div class="row">
    <h3 class="col-10">商品一覧画面</h3>
    <%= link_to new_admin_item_path do %>
      <i class="fas fa-plus-circle fa-3x col-2"></i>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><% if item.status == true %>
                販売中
              <% else %>
                売切れ
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>