<h4 class="my-4">注文詳細画面</h4>
  <table class="mb-5">
    <tbody>
      <tr>
        <th>購入者</th>
        <td><%= @order.end_user.family_name + @order.end_user.first_name %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= "〒#{@order.delivery_postal_code} #{@order.delivery_address}" %><br><%= "#{@order.delivery_name}" %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with(url: admin_order_path(@order), method: :patch, local: true) do |f| %>
            <%= f.select :status, options_for_select(Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, :selected => @order.status) %>
            <%= f.submit "更新", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container-fluid row">
    <table class="table col-8">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.price_at %></td>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.price_at + order_item.quantity %></td>
            <td>
              <%= form_with(url: admin_order_item_path(order_item.id), method: :patch, local: true) do |f| %>
                <%= f.select :item_status, options_for_select(OrderItem.statuses.keys.map {|k| [I18n.t("enums.order_item.status.#{k}"), k]}, :selected => order_item.status) %>
                <%= f.submit "更新" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="col-3 offset-1 align-self-end">
      <tr>
        <th>商品合計</th>
        <td><%= @order.payment_amount %></td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <th><%= @order.payment_amount %></th>
      </tr>
    </table>
  </div>
