<div class="container-fluid">
  <h3 class="row">ジャンル追加・一覧画面</h3>
  <%= form_with(model: @genre, :url => {:action => :create}, local: true) do |f| %>
    <%= render "layouts/error", model: f.object %>
    <%= f.label :ジャンル %>
    <%= f.text_field :name %>
    <%= f.radio_button :valid_flag, :true %>有効
    <%= f.radio_button :valid_flag, :false %>無効
    <%= f.submit "追加", class: "btn btn-info" %>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>ジャンル</th>
        <th>状態</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><% if genre.valid_flag == true %>
                有効
              <% else %>
                無効
              <% end %>
          </td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>