<div class="container">
  <h3>ショッピングカート</h3>
  <%= link_to "カートを空にする", "#" %>
  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= (item.price * 1.08).round %></td>
          <td><%= form_with(model: @cart, :url => {:action => :create}, local: true) do |f| %>
                <%= f.number_field :quantity %>
                <%= f.submit "変更" %>
              <% end %>
          </td>
          <td><%= (item.price * 1.08).round * @carts.quantity  %></td>
          <td><%= link_to "削除する", public_root_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "買い物を続ける", public_root_path %>
  <table>
    <tr>
      <th>合計金額</th>
      <td><%= Item.all.sum(:price) %></td>
    </tr>
  </table>
</div>
