<h4>購入情報入力</h4>
<%= form_with(:url => {:controller => "public/orders", :action =>"create"}, locate: true) do |f| %>
  <h5>支払方法</h5>
    <%= f.radio_button :payment_option, 0 %><%= f.label :クレジットカード %><br>
    <%= f.radio_button :payment_option, 1 %><%= f.label :銀行振込 %>

  <h5>お届け先</h5>
    <%= f.radio_button(:select, "myaddress", checked: true) %>ご自身の住所<br>
      <%= f.label(:select_myaddress, "#{@user.postal_code + @user.address}") %><br>
      <%= f.label(:select_myaddress, "#{@user.family_name + @user.first_name}") %><br>

    <%= f.radio_button(:select, "registered_address", checked: true) %>登録済住所から選択<br>
      <%= f.collection_select :address_collection, @addresses, :id, :view_address_detail %><br>
  
    <%= f.radio_button(:select, "new_address", checked: true) %>新しいお届け先<br>
      <%= f.label :郵便番号 %>
      <%= f.text_field :new_postal_code %>ハイフンなし<br>
      <%= f.label :住所 %>
      <%= f.text_area :new_delivery_address %><br>
      <%= f.label :宛名 %>
      <%= f.text_field :new_delivery_name %><br>


    <%= f.submit "確認画面へ進む" %>
<% end %>

