<h4>注文情報確認</h4>
<table class="table">
  <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </thead>
  <tbody>
    <% .each do |order| %>
      <tr>
        <td><%= .name %></td>
        <td><%= .price %></td>
        <td><%= .quantity %></td>
        <td><%= . * .quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <th>送料</th>
      <td>800</td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= @cart_item.price * @cart_item.quantity %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= @cart_item.prive * @cart_item.quantity %> + 800</td>
    </tr>
  </tbody>
</table>

<h4>支払方法</h4><%= .payment_method %>
<h4>お届け先</h4><%= .delivary_pastal_code + .delivary_address %><br><%= .delivary_name %>

<%= "購入を確定する" %>