<div class="container mt-md-5 text-md-center">
  <h2>会員登録</h2><br/>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :姓 %>
      <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
      <%= f.label :名 %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>
    <div class="field">
      <%= f.label :セイ %>
      <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
      <%= f.label :メイ %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div>
    
    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :電話番号 %>
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
    </div>
    
    <div class="field">
      <%= f.label :郵便番号 %>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
      <%= f.label :住所 %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>


    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :パスワード（確認） %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary btn-lg"  %>
    </div>
  <% end %>
  <div class="text-right">
    <%= render "end_users/shared/links" %>
  </div>
</div>