<div class="container row">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">ジャンル検索</h5>
      <% @genres.each do |genre| %>
        <ol class="card-body"><%= genre.name %></ol>
      <% end %>
    </div>
  </div>

  <div class="col-8">
    <h2>ケーキ（全<%= @items.count %>件）</h2>
    <div class="card-deck">
      <% @items.each do |item| %>
        <%= link_to public_item_path(item.id) do %>
          <div class="card" style="width: 18rem;">
            <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "no_image.jpg", size: "200x200", class: "card-img-top" %>
            <p class="card-titile"><%= item.name %></p>
            <p class="card-text">￥<%= item.price %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>