<div class="container row">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">ジャンル検索</h5>
      <% @genres.each do |genre| %>
        <ol class="card-body"><%= genre.name %></ol>
      <% end %>
    </div>
  </div>

  <div class="col-8">
    <h2>ケーキ（全<%= @items.count %>件）</h2>
    <div class="card-group">
      <% @items.each do |item| %>
        <div class="card">
          <%= attachment_image_tag item, :image, size: "200x150", fallback: "no_image.jpg", class: "card-img-top" %>
          <p class="card-titile"><%= item.name %></p>
          <p class="card-text">￥<%= item.price %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>