<div class="container-fluid row align-items-center">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">ジャンル検索</h5>
      <% @genres.each do |genre| %>
        <ol class="card-body"><%= genre.name %></ol>
      <% end %>
    </div>
  </div>

  <div class="col-8 row align-items-center">
    <div class="col-6">
      <%= attachment_image_tag @item, :image, size: "100x200", fallback: "no_image.jpg", class: "card-img-top" %>
    </div>
    <div class="col-6">
      <h4 class="card-titile"><%= @item.name %></h4>
      <p class="card-text"><%= @item.description %></p>
      <h5 class="card-text">￥<%= @item.price %></h5>
      <%= form_with(model: @cart, url: "cart_items#create", local: true) do |f| %>
        <%= f.number_field :quantity %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>